<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  
    <ion-item lines="full">
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" (click) = "callUs()">Call Us</ion-button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="full">
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" (click) = "emailUs()">Email Us</ion-button>
        </ion-col>
      </ion-row>
    </ion-item>

  <!-- <ion-item lines="full">
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click) = "chooseFile()">Choose a file</ion-button>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item lines="full">
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click) = "download()">Download</ion-button>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item lines="full">
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click) = "chooseFile2()">Upload a file</ion-button>
      </ion-col>
    </ion-row>
  </ion-item> -->

</ion-content>
