<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">User Name</ion-label>
      <ion-input type="text" required name = "username" [(ngModel)] = "User.UserName"></ion-input>
    </ion-item>

    <!-- <ion-item lines="full">
      <div>
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" required name = "firstname" ></ion-input>
     </div>
     <div>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input type="text" required name = "lastname" ></ion-input>
     </div>
    </ion-item> -->

    <ion-item lines="full">
      <ion-label position="floating">Company Name</ion-label>
      <ion-input type="text" required name = "company" [(ngModel)] = "User.CompanyName"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Phone No</ion-label>
      <ion-input type="text" required name = "phone" [(ngModel)] = "User.PhoneNo"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required name ="email" [(ngModel)] = "User.Email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required name ="password" [(ngModel)] = "User.Password"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" required name ="confirmPassword" [(ngModel)] = "User.ConfirmPassword"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click) = "RegisterUser(User)">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
