.red-cards {
  --color: white;
  --background: red;
}
.flex-rows{
  display: flex;
  justify-content: center;
}

ion-slide.swiper-slide {
  left: 25%;
}

.slide-zoom {
  background: #e6e6e6;
}

.thumb-img {
  padding: 10px;
}
