<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf= "userType == 'customer'"></ion-menu-button>
      <ion-back-button *ngIf= "userType == 'guest'"></ion-back-button>
    </ion-buttons>
    <ion-title>About SharpTel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-header>
        <ion-card-title color = "danger" style = "margin-left:15px;">A Brief Introduction</ion-card-title>
      </ion-header>
      <ion-card-content>
        <p>We believe in treating our customers with respect and faith. We grow through creativity, invention and innovation. We integrate honesty, integrity and business ethics into all aspects of our business functioning.</p>
      </ion-card-content>

      <ion-header>
        <ion-card-title color = "danger" style = "margin-left:15px;">Our Core Values</ion-card-title>
      </ion-header>
      <ion-card-content>
        <p>SharpTel services are vital to the successful implementation and integration of Technology related project. SharpTel has a vision of indulging their customers with a diversified portfolio of Connectivity, data center and colocation , Information Security, IT Security, automation services through state of the art technology solutions</p>
      </ion-card-content>

      <!-- <ion-item>
        <ion-thumbnail>
          <ion-img src="/assets/images/groupphoto.png" ></ion-img>
          <img src="/assets/images/groupphoto.png"/>
        </ion-thumbnail>
      </ion-item> -->
      <ion-item>
        <ion-grid>
          <ion-row style="padding : 0px;">
            <ion-col size = "6">
              <ion-card class = "red-cards">
                  <ion-header>
                    <ion-title color = "danger">Our Vision</ion-title>
                  </ion-header>
                  <ion-card-content>
                    To provide quality services that exceeds the expectations of our esteemed customers.
                  </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size = "6">
              <ion-card class = "red-cards">
                  <ion-header>
                    <ion-title color = "danger">Our Mission</ion-title>
                  </ion-header>
                  <ion-card-content>
                    To empower businesses by providing next generation ICT solutions and services to be used as a competitive advantage.
                  </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
      </ion-grid>
          <!-- <ion-label></ion-label> -->
      </ion-item>
    </ion-card>

    <ion-footer style = "margin-bottom: 70px;">
      <!-- <ion-item>
        <ion-button [routerLink]="['C:/Users/amatu/OneDrive/SharpTel/SharpTel%20Corporate%20Profile.pdf']" expand="block" color="primary" fill = "clear"><u> More Details </u></ion-button>
      </ion-item> -->
      <ion-item>
        <ion-icon name="location"></ion-icon><ion-label>Sharp Telecom (Private) Limited
          The Smart Tower| 5th Floor, Plot # C-10/2,
          Off Sharah-e-Faisal, Opposite FTC,Karachi, Pakistan</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call"></ion-icon><ion-label>Phone number: +92-311-128-4373</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail"></ion-icon><ion-label>Email: servicedesk@sharptel.pk</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="globe"></ion-icon><ion-label><a href = "https:/sharptel.pk">https:/sharptel.pk</a></ion-label>
      </ion-item>
    </ion-footer>
  </ion-content>
